<!-- Back-to-top Example -->
<a href="#" class="btn back-to-top btn-light btn-fixed-bottom">
  <span class="glyphicon glyphicon-chevron-up"></span>
</a>

<!-- Back-to-top Example -->
<a href="#" style="right: 70px;" class="btn back-to-top btn-dark btn-fixed-bottom">
  <span class="glyphicon glyphicon-chevron-up"></span>
</a>